<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="#{app.currency}">Currency Converter App</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <style>-->
<!--        body {-->
<!--    background-color: black; /* Replace with your desired background color */-->
<!--    font-family: Arial, sans-serif;-->
<!--}-->

<!--        .container {-->
<!--            max-width: 300px;-->
<!--            margin: 0 auto;-->
<!--            padding: 20px;-->
<!--            background-color: rgba(255, 255, 255, 0.8);-->
<!--            border-radius: 10px;-->
<!--            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for better visibility */-->
<!--        }-->

<!--        h1 {-->
<!--            text-align: center;-->
<!--            font-size: 24px;-->
<!--            color: #007bff;-->
<!--        }-->

<!--        label, select, input, button {-->
<!--            margin: 10px 0;-->
<!--        }-->

<!--        /* Style the result container */-->
<!--.result-container {-->
<!--    background-color: #e2f0ff; /* Light blue background */-->
<!--    padding: 10px;-->
<!--    border-radius: 5px;-->
<!--    display: none;-->
<!--}-->

<!--/* Style the result amount text */-->
<!--.result-amount {-->
<!--    font-size: 24px;-->
<!--    font-weight: bold;-->
<!--}-->

<!--/* Style the error container (if needed) */-->
<!--.alert.alert-danger {-->
<!--    /* Your error container styling */-->
<!--}-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h1 class="text-primary" th:text="#{app.currency}">Currency Converter</h1>-->

<!--    &lt;!&ndash; Language dropdown &ndash;&gt;-->
<!--&lt;!&ndash;    id="language-container" style="position: absolute; top: 20px; right: 20px;"&ndash;&gt;-->
<!--    <div >-->
<!--        <div class="form-group">-->
<!--&lt;!&ndash;            style="color: #ff0000; font-weight: bold; font-size: 20px;&ndash;&gt;-->
<!--            <label for="locale" th:text="#{label.language}">Language:</label>-->
<!--            <select class="form-control" name="locale" id="locale" onchange="changeLanguage(this);">-->
<!--&lt;!&ndash;                <option value="hi" th:text="#{switch-hi}" >Hindi</option>&ndash;&gt;-->
<!--                <option value="en" th:text="#{switch-en}" selected>English</option>-->
<!--                <option value="fr" th:text="#{switch-fr}">French</option>-->
<!--                <option value="nl" th:text="#{switch-nl}">Dutch</option>-->
<!--                <option value="it" th:text="#{switch-it}">Italian</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->


<!--    <form th:action="@{/currency-conversion}" method="get">-->

<!--        <div class="alert alert-danger" id="networkError" style="display: none;">-->
<!--            Network error. Please try again later.-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="fromCurrency" th:text="#{label.fromCurrency}">From Currency:</label>-->
<!--            <input type="text" class="form-control" id="fromCurrency" name="fromCurrency" required>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="toCurrency" th:text="#{label.toCurrency}">To Currency:</label>-->
<!--            <input type="text" class="form-control" id="toCurrency" name="toCurrency" required>-->
<!--            <div class="invalid-feedback" style="display: none" id="currencyError">-->
<!--                Unsupported currencies-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="form-group">-->
<!--            <label for="amount" th:text="#{label.amount}">Amount:</label>-->
<!--            <input type="text" class="form-control" id="amount" name="amount">-->
<!--            <div class="invalid-feedback" style="display: none" id="amountError">-->
<!--                Invalid input (e.g., a non-numerical value for the currency amount)-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for= "amount" th:text="#{label.amount}">Amount:</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" class="form-control" id="amount" name="amount">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--        <div class="form-group">-->
<!--            <label for="date" th:text="#{label.date}">Date:</label>-->
<!--            <input type="date" class="form-control" id="date" name="date">-->
<!--        </div>-->

<!--        <button type="submit" class="btn btn-primary" th:text="#{button.convert}">Convert</button>-->


<!--    </form>-->

<!--&lt;!&ndash;    <button class="btn btn-primary mt-3" onclick="redirectToHistory()">History</button>&ndash;&gt;-->
<!--    <button class="btn btn-primary mt-3" onclick="window.location.href='/conversion-history'">History</button>-->

<!--    <div class="container mt-5">-->
<!--        &lt;!&ndash; Result container &ndash;&gt;-->
<!--        <div class="result-container" id="resultsDiv" style="display: none;">-->
<!--            <h3 class="text-primary font-weight-bold" th:text="#{label.result}">Conversion Result:</h3>-->
<!--            <p id="convertedAmount" class="result-amount text-primary"></p>-->
<!--        </div>-->



<!--        &lt;!&ndash; Error container (if you want to style it differently) &ndash;&gt;-->
<!--        <div class="alert alert-danger" id="errorDiv" style="display: none;">-->
<!--            <p id="errorMessage"></p>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<!--<script th:inline="javascript">-->
<!--    function changeLanguage(selectElement) {-->
<!--        var selectedLanguage = selectElement.value;-->
<!--        var currentUrl = window.location.href;-->
<!--        var newUrl = updateQueryStringParameter(currentUrl, "lang", selectedLanguage);-->
<!--        setCookie("selectedLanguage", selectedLanguage, 365);-->
<!--        window.location.href = newUrl;-->
<!--    }-->
<!--    function setCookie(name, value, days) {-->
<!--        var expires = "";-->
<!--        if (days) {-->
<!--            var date = new Date();-->
<!--            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));-->
<!--            expires = "; expires=" + date.toUTCString();-->
<!--        }-->
<!--        document.cookie = name + "=" + value + expires + "; path=/";-->
<!--    }-->

<!--    function updateQueryStringParameter(uri, key, value) {-->
<!--        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");-->
<!--        var separator = uri.indexOf("?") !== -1 ? "&" : "?";-->
<!--        if (uri.match(re)) {-->
<!--            return uri.replace(re, "$1" + key + "=" + value + "$2");-->
<!--        } else {-->
<!--            return uri + separator + key + "=" + value;-->
<!--        }-->
<!--    }-->


<!--           function showError(errorMessage) {-->
<!--               var errorDiv = document.getElementById("errorDiv");-->
<!--               var errorMessageElement = document.getElementById("errorMessage");-->
<!--               errorMessageElement.innerText = errorMessage;-->
<!--               errorDiv.style.display = "block";-->
<!--           }-->

<!--        // JavaScript function to validate the amount input-->
<!--    function validateAmount() {-->
<!--        var amountInput = document.getElementById("amount");-->
<!--        var amountError = document.getElementById("amountError");-->

<!--        // Check if the input value is not a number-->
<!--        if (isNaN(amountInput.value)) {-->
<!--            amountInput.classList.add("is-invalid");-->
<!--            amountError.style.display = "block";-->
<!--        } else {-->
<!--            amountInput.classList.remove("is-invalid");-->
<!--            amountError.style.display = "none";-->
<!--        }-->
<!--    }-->

<!--    // Add an event listener to validate the input on input change-->
<!--    document.getElementById("amount").addEventListener("input", validateAmount);-->

<!--        function validateCurrencies() {-->
<!--        var fromCurrencyInput = document.getElementById("fromCurrency");-->
<!--        var toCurrencyInput = document.getElementById("toCurrency");-->
<!--        var currencyError = document.getElementById("currencyError");-->

<!--        // Check if the input values are unsupported currencies-->
<!--        var supportedCurrencies = ["USD", "EUR", "GBP", "JPY", "AUD", "CAD", "CHF", "CNY",-->
<!--        "SEK", "NZD", "SGD", "HKD", "NOK", "KRW", "TRY", "INR", "BRL", "ZAR", "RUB",-->
<!--         "AED", "SAR", "QAR", "KWD", "OMR", "THB", "IDR", "MYR", "PHP", "MXN", "ARS",-->
<!--         "CLP", "COP", "PEN", "EGP", "ILS", "DKK", "HUF", "PLN", "CZK", "RON", "BGN", "HRK",-->
<!--         "RSD", "UAH", "HNL", "DOP", "CRC", "CUP", "JMD", "BOB", "PYG", "UYU"];-->


<!--        if (!supportedCurrencies.includes(fromCurrencyInput.value) || !supportedCurrencies.includes(toCurrencyInput.value)) {-->
<!--            fromCurrencyInput.classList.add("is-invalid");-->
<!--            toCurrencyInput.classList.add("is-invalid");-->
<!--            currencyError.style.display = "block";-->
<!--        } else {-->
<!--            fromCurrencyInput.classList.remove("is-invalid");-->
<!--            toCurrencyInput.classList.remove("is-invalid");-->
<!--            currencyError.style.display = "none";-->
<!--        }-->
<!--    }-->

<!--    document.getElementById("fromCurrency").addEventListener("input", validateCurrencies);-->
<!--    document.getElementById("toCurrency").addEventListener("input", validateCurrencies);-->


<!--        function showNetworkError() {-->
<!--        var networkError = document.getElementById("networkError");-->
<!--        networkError.style.display = "block";-->
<!--    }-->
<!--        function showResult(result) {-->
<!--        var resultsDiv = document.getElementById("resultsDiv");-->
<!--        var convertedAmount = document.getElementById("convertedAmount");-->

<!--        convertedAmount.innerText = result; // Set the converted amount-->
<!--        resultsDiv.style.display = "block"; // Show the results div-->
<!--    }-->
<!--<script th:inline="javascript">-->
<!--    // ...-->

<!--    function redirectToHistory() {-->
<!--        window.location.href = "/conversion-history"; // Redirect to the history page URL-->
<!--    }-->
<!--</script>-->

<!--</script>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.currency}">Currency Converter App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: sky;
            background-size: cover;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for better visibility */
        }

        h1 {
            text-align: center;
            font-size: 24px;
            color: #007bff;
        }

        label, select, input, button {
            margin: 10px 0;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-primary" th:text="#{app.currency}">Currency Converter</h1>

    <!-- Language dropdown -->
    <div class="form-group">
        <label for="locale" th:text="#{label.language}">Language:</label>
        <select class="form-control" name="locale" id="locale" onchange="changeLanguage(this);">
            <option value="hi" th:text="#{switch-hi}" >Select</option>
            <option value="mh" th:text="#{switch-mh}" >Marathi</option>
            <option value="fr" th:text="#{switch-fr}">French</option>
            <option value="hi" th:text="#{switch-hi}">Hindi</option>
            <option value="bn" th:text="#{switch-bn}">Bengali</option>
            <option value="nl" th:text="#{switch-nl}">Dutch</option>
            <option value="it" th:text="#{switch-it}">Italian</option>
            <option value="en" th:text="#{switch-en}">English</option>
        </select>
    </div>

    <form th:action="@{/currency-conversion}" method="get">

        <div class="alert alert-danger" id="networkError" style="display: none;">
            Network error. Please try again later.
        </div>

        <!--        <div class="form-group">-->
        <!--            <label for="fromCurrency" th:text="#{label.fromCurrency}">From Currency:</label>-->
        <!--            <input type="text" class="form-control" id="fromCurrency" name="fromCurrency" required>-->
        <!--        </div>-->

        <!--        <div class="form-group">-->
        <!--            <label for="toCurrency" th:text="#{label.toCurrency}">To Currency:</label>-->
        <!--            <input type="text" class="form-control" id="toCurrency" name="toCurrency" required>-->

        <!--        </div>-->
        <div class="form-group">
            <label for="fromCurrency" th:text="#{label.fromCurrency}">From Currency:</label>
<!--            <input type="text" placeholder="INR" class="form-control" id="fromCurrency" name="fromCurrency" required>-->
            <select class="form-control" id="fromCurrency" name="fromCurrency" required>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="JPY">JPY</option>
                <option value="AUD">AUD</option>
                <option value="CAD">CAD</option>
                <option value="CHF">CHF</option>
                <option value="CNY">CNY</option>
                <option value="SEK">SEK</option>
                <option value="NZD">NZD</option>
                <option value="SGD">SGD</option>
                <option value="HKD">HKD</option>
                <option value="NOK">NOK</option>
                <option value="KRW">KRW</option>
                <option value="TRY">TRY</option>
                <option value="INR" selected>INR</option>
                <option value="BRL">BRL</option>
                <option value="ZAR">ZAR</option>
                <option value="RUB">RUB</option>
                <option value="AED">AED</option>
                <option value="SAR">SAR</option>
                <option value="QAR">QAR</option>
                <option value="KWD">KWD</option>
                <option value="OMR">OMR</option>
                <option value="THB">THB</option>
                <option value="IDR">IDR</option>
                <option value="MYR">MYR</option>
                <option value="PHP">PHP</option>
                <option value="MXN">MXN</option>
                <option value="ARS">ARS</option>
                <option value="CLP">CLP</option>
                <option value="COP">COP</option>
                <option value="PEN">PEN</option>
                <option value="EGP">EGP</option>
                <option value="ILS">ILS</option>
                <option value="DKK">DKK</option>
                <option value="HUF">HUF</option>
                <option value="PLN">PLN</option>
                <option value="CZK">CZK</option>
                <option value="RON">RON</option>
                <option value="BGN">BGN</option>
                <option value="HRK">HRK</option>
                <option value="RSD">RSD</option>
                <option value="UAH">UAH</option>
                <option value="HNL">HNL</option>
                <option value="DOP">DOP</option>
                <option value="CRC">CRC</option>
                <option value="CUP">CUP</option>
                <option value="JMD">JMD</option>
                <option value="BOB">BOB</option>
                <option value="PYG">PYG</option>
                <option value="UYU">UYU</option>
            </select>
<!--            <div class="invalid-feedback" style="display: none" id="currencyError">-->
<!--                Unsupported currencies-->
<!--            </div>-->
        </div>

        <div class="form-group">
            <label for="toCurrency" th:text="#{label.toCurrency}">To Currency:</label>
<!--            <input type="text" placeholder="USD" class="form-control" id="toCurrency" name="toCurrency" required>-->
            <select class="form-control" id="toCurrency" name="toCurrency" required>
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="JPY">JPY</option>
                <option value="AUD">AUD</option>
                <option value="CAD">CAD</option>
                <option value="CHF">CHF</option>
                <option value="CNY">CNY</option>
                <option value="SEK">SEK</option>
                <option value="NZD">NZD</option>
                <option value="SGD">SGD</option>
                <option value="HKD">HKD</option>
                <option value="NOK">NOK</option>
                <option value="KRW">KRW</option>
                <option value="TRY">TRY</option>
                <option value="INR">INR</option>
                <option value="BRL">BRL</option>
                <option value="ZAR">ZAR</option>
                <option value="RUB">RUB</option>
                <option value="AED">AED</option>
                <option value="SAR">SAR</option>
                <option value="QAR">QAR</option>
                <option value="KWD">KWD</option>
                <option value="OMR">OMR</option>
                <option value="THB">THB</option>
                <option value="IDR">IDR</option>
                <option value="MYR">MYR</option>
                <option value="PHP">PHP</option>
                <option value="MXN">MXN</option>
                <option value="ARS">ARS</option>
                <option value="CLP">CLP</option>
                <option value="COP">COP</option>
                <option value="PEN">PEN</option>
                <option value="EGP">EGP</option>
                <option value="ILS">ILS</option>
                <option value="DKK">DKK</option>
                <option value="HUF">HUF</option>
                <option value="PLN">PLN</option>
                <option value="CZK">CZK</option>
                <option value="RON">RON</option>
                <option value="BGN">BGN</option>
                <option value="HRK">HRK</option>
                <option value="RSD">RSD</option>
                <option value="UAH">UAH</option>
                <option value="HNL">HNL</option>
                <option value="DOP">DOP</option>
                <option value="CRC">CRC</option>
                <option value="CUP">CUP</option>
                <option value="JMD">JMD</option>
                <option value="BOB">BOB</option>
                <option value="PYG">PYG</option>
                <option value="UYU">UYU</option>
            </select>
            <div class="invalid-feedback" style="display: none" id="currencyError">
                Unsupported currencies
            </div>
        </div>


        <div class="form-group">
            <label for="amount" th:text="#{label.amount}">Amount:</label>
            <input type="text" placeholder="2 OR 2.0" class="form-control" id="amount" name="amount" oninput="validateAmount()">
            <div class="invalid-feedback" style="display: none" id="amountError">
                Invalid input (e.g., a non-numerical value for the currency amount)
            </div>
        </div>

        <!--        <div class="form-group">-->
        <!--            <label for= "amount" th:text="#{label.amount}">Amount:</label>-->
        <!--            <input type="text" class="form-control" id="amount" name="amount">-->
        <!--        </div>-->

        <div class="form-group">
            <label for="date" th:text="#{label.date}">Date:</label>
            <input type="date" placeholder="01-01-2023" class="form-control" id="date" name="date" onchange="validateDate()">
            <p id="dateError" style="color: red;"></p>
        </div>

<!--        <button type="submit" class="btn btn-primary" th:text="#{button.convert}">Convert</button>-->
        <button type="submit" class="btn btn-primary" id="convertButton" th:text="#{button.convert}">Convert</button>
    </form>

    <button class="btn btn-primary mt-3" onclick="window.location.href='/conversion-history'">History</button>


    <div class="mt-3" id="resultsDiv" style="display: none;">
        <p th:text="#{label.result}" class="font-weight-bold">Conversion Result:</p>
        <p id="convertedAmount" class="text-primary"></p>
    </div>
    <!--    <div class="mt-3" th:if="${result}">-->
    <!--        <p th:text="#{div.result}" class="font-weight-bold">Conversion Result:</p>-->
    <!--        <p th:text="' : ' + ${result}" class="text-primary"></p>-->
    <!--    </div>-->
    <div class="alert alert-danger" id="errorDiv" style="display: none;">
        <p id="errorMessage"></p>
    </div>
</div>

<script th:inline="javascript">
    function changeLanguage(selectElement) {
        var selectedLanguage = selectElement.value;
        var currentUrl = window.location.href;
        var newUrl = updateQueryStringParameter(currentUrl, "lang", selectedLanguage);
        setCookie("selectedLanguage", selectedLanguage, 365);
        window.location.href = newUrl;
    }

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf("?") !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, "$1" + key + "=" + value + "$2");
        } else {
            return uri + separator + key + "=" + value;
        }
    }


           function showError(errorMessage) {
               var errorDiv = document.getElementById("errorDiv");
               var errorMessageElement = document.getElementById("errorMessage");
               errorMessageElement.innerText = errorMessage;
               errorDiv.style.display = "block";
           }

        // JavaScript function to validate the amount input
    function validateAmount() {
        var amountInput = document.getElementById("amount");
        var amountError = document.getElementById("amountError");

        // Check if the input value is not a number
        if (isNaN(amountInput.value)) {
            amountInput.classList.add("is-invalid");
            amountError.style.display = "block";
        } else {
            amountInput.classList.remove("is-invalid");
            amountError.style.display = "none";
        }
    }

    // Add an event listener to validate the input on input change
    document.getElementById("amount").addEventListener("input", validateAmount);

        function validateCurrencies() {
        var fromCurrencyInput = document.getElementById("fromCurrency");
        var toCurrencyInput = document.getElementById("toCurrency");
        var currencyError = document.getElementById("currencyError");

        // Check if the input values are unsupported currencies
        var supportedCurrencies = ["USD", "EUR", "GBP", "JPY", "AUD", "CAD", "CHF", "CNY",
        "SEK", "NZD", "SGD", "HKD", "NOK", "KRW", "TRY", "INR", "BRL", "ZAR", "RUB",
         "AED", "SAR", "QAR", "KWD", "OMR", "THB", "IDR", "MYR", "PHP", "MXN", "ARS",
         "CLP", "COP", "PEN", "EGP", "ILS", "DKK", "HUF", "PLN", "CZK", "RON", "BGN", "HRK",
         "RSD", "UAH", "HNL", "DOP", "CRC", "CUP", "JMD", "BOB", "PYG", "UYU"];


        if (!supportedCurrencies.includes(fromCurrencyInput.value) || !supportedCurrencies.includes(toCurrencyInput.value)) {
            fromCurrencyInput.classList.add("is-invalid");
            toCurrencyInput.classList.add("is-invalid");
            currencyError.style.display = "block";
        } else {
            fromCurrencyInput.classList.remove("is-invalid");
            toCurrencyInput.classList.remove("is-invalid");
            currencyError.style.display = "none";
        }
    }

    document.getElementById("fromCurrency").addEventListener("input", validateCurrencies);
    document.getElementById("toCurrency").addEventListener("input", validateCurrencies);


        function showNetworkError() {
        var networkError = document.getElementById("networkError");
        networkError.style.display = "block";
    }
        function showResult(result) {
        var resultsDiv = document.getElementById("resultsDiv");
        var convertedAmount = document.getElementById("convertedAmount");

        convertedAmount.innerText = result; // Set the converted amount
        resultsDiv.style.display = "block"; // Show the results div
    }


    function redirectToHistory() {
        window.location.href = "/conversion-history"; // Redirect to the history page URL
    }

       document.getElementById("fromCurrency").addEventListener("change", function () {
        var fromCurrency = this.value;
        var toCurrencyDropdown = document.getElementById("toCurrency");

        // Enable all options
        for (var i = 0; i < toCurrencyDropdown.options.length; i++) {
            toCurrencyDropdown.options[i].disabled = false;
        }

        // Disable the selected currency in "To Currency"
        for (var i = 0; i < toCurrencyDropdown.options.length; i++) {
            if (toCurrencyDropdown.options[i].value === fromCurrency) {
                toCurrencyDropdown.options[i].disabled = true;
            }
        }
    });

</script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        function updateConvertButtonState() {
            var fromCurrencyInput = document.getElementById("fromCurrency");
            var toCurrencyInput = document.getElementById("toCurrency");
            var convertButton = document.getElementById("convertButton");

            // Check if the input values are supported currencies
            var supportedCurrencies = ["USD", "EUR", "GBP", "JPY", "AUD", "CAD", "CHF", "CNY",
        "SEK", "NZD", "SGD", "HKD", "NOK", "KRW", "TRY", "INR", "BRL", "ZAR", "RUB",
         "AED", "SAR", "QAR", "KWD", "OMR", "THB", "IDR", "MYR", "PHP", "MXN", "ARS",
         "CLP", "COP", "PEN", "EGP", "ILS", "DKK", "HUF", "PLN", "CZK", "RON", "BGN", "HRK",
         "RSD", "UAH", "HNL", "DOP", "CRC", "CUP", "JMD", "BOB", "PYG", "UYU"];

            if (supportedCurrencies.includes(fromCurrencyInput.value) && supportedCurrencies.includes(toCurrencyInput.value)) {
                // Both currencies are supported, enable the button
                convertButton.disabled = false;
            } else {
                // At least one currency is not supported, disable the button
                convertButton.disabled = true;
            }
        }

        // Add event listeners to validate currencies and update the button state
        document.getElementById("fromCurrency").addEventListener("input", function () {
            validateCurrencies();
            updateConvertButtonState();
        });

        document.getElementById("toCurrency").addEventListener("input", function () {
            validateCurrencies();
            updateConvertButtonState();
        });
    });

    // ... (your existing JavaScript code) ...
</script>

<script>
    // Function to set the minimum date to the current date
   function setMaxDate() {
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = String(currentDate.getMonth() + 1).padStart(2, '0');
        var day = String(currentDate.getDate()).padStart(2, '0');
        var formattedDate = `${year}-${month}-${day}`;

        document.getElementById("date").setAttribute("max", formattedDate);
    }
        setMaxDate();

    // Function to validate the selected date
    function validateDate() {
        var inputDate = new Date(document.getElementById("date").value);
        var currentDate = new Date();

        if (inputDate > currentDate) {
            document.getElementById("dateError").textContent = "Please select a date on or before the current date.";
            document.getElementById("date").value = ""; // Clear the input field
        } else {
            document.getElementById("dateError").textContent = "";
        }
    }
</script>
<script>
function validateAmount() {
var amountInput = document.getElementById("amount");
var amountError = document.getElementById("amountError");
var convertButton = document.getElementById("convertButton");

// Check if the input value is not a number
if (isNaN(amountInput.value)) {
amountInput.classList.add("is-invalid");
amountError.style.display = "block";
convertButton.disabled = true; // Disable the "Convert" button
} else {
amountInput.classList.remove("is-invalid");
amountError.style.display = "none";
convertButton.disabled = false; // Enable the "Convert" button
}
}

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>